#root {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 288px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subtext {
  font-size: 48px;
}

.loading {
  animation: spin 1s linear infinite;
  font-size: 96px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
